@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrap {
  height: 100vh;
  background-color: black;
}

.main {
  width: 400px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(9px);
  border: 1px solid white;
  border-radius: 2%;
}

form {
  min-width: 275px;
}
.heading {
  font-size: 32px;
}

.remb {
  font-size: 12px;
  height: 18px;
}

.forg:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.833) !important;
}